/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.seed
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
app.yaml
npm-debug.log
yarn-error.log
dddesigns-68d7ec5a94e1.json
/database/seeds/UserSeeder.php
/notes
/public/images
/public/css
/public/js