.order-card-container {
  padding: 8px;
  margin: 8px;
  min-height: 48px;
  background-color: rgba(245, 245, 245);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.order-card-list {
  
}

.order-link {
  text-decoration: none;
  color: inherit;
}