$accent-color: #85BAA1;
$font-color: #FFF;
$footer-color: #555;
$footer-bottom-color: #333;
$button-hover-color: #AAA;
$header-color: #333;

.error {
  color: red;
}

.login-card {
  flex-grow: 1;
  max-width: 720px;
  border: 1px solid rgba(0, 0, 0, .34);
  margin-top: 16px;
}

.login-card-header {
  background-color: $footer-color;
  color: $font-color;
  padding: 8px;
  padding-left: 16px;
  padding-top: 8px;
}

.login-form-container {
  color: #000;
  padding: 24px;
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

.inner-page-container {
  display: flex;
  justify-content: center;
}

.title {
  margin-block-start: .3em;
}