$accent-color: #85BAA1;
$font-color: #FFF;
$footer-color: #555;
$footer-bottom-color: #333;
$button-hover-color: #AAA;
$header-color: #333;

.review-gallery-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 4px;
}

.review-gallery-dialog {
  height: 90vh;
  width: 90vw;
  max-height: 600px;
  max-width: 900px;
  background-color: white;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.review-gallery-dialog-button-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .54);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, .8);
  font-size: 24px;
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.review-gallery-dialog-button-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .54);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, .8);
  font-size: 24px;
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.review-gallery-dialog-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .54);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-gallery-dialog-image {
  object-fit: cover;
  object-position: center center;
}

.review-gallery-image {
  object-fit: cover;
  object-position: center center;
}

.review-gallery-image-container {
  height: 56px;
  width: 56px;
  margin: 4px;
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}